@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Hina Mincho", serif;
}

h1,
h2 {
  font-family: "Hina Mincho", serif;
}

/* -------ORDER FORM-------------- */

.o-wrapper {
  max-width: 1920px;
  width: 100%;
}

#o-header {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 20px;
  position: sticky;
  /*固定する*/
  position: -webkit-sticky;
  /*Safari用ベンダープレフィックス*/
  top: 0;
  background-color: #fff;

  /* margin-left: 15%; */
  /* padding: 5%; */
}

.h-logo {
  padding-right: 50px;
}

.holizon-nav {
  display: flex;
  justify-content: space-between;
  gap: 50px;


}

.holizon-nav li {
  max-width: 100%;
  text-decoration: none;
  list-style-type: none;
  font-family: "Hina Mincho", serif;
  letter-spacing: 0.5vmin;
  font-size: 1.4vmin;
  /* padding-right: 10%; */
  white-space: nowrap;
  /* align-items: center; */
}

.holizon-nav a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #333;
}


.holizon-nav a::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  content: '';
  width: 100%;
  height: 1.3px;
  background: #CF755A;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

.holizon-nav a:hover::after {
  transform: scale(1, 1);
}

.hamburger,
.globalMenuSp {
  visibility: hidden;
}


@media(max-width:920px) {

  .holizon {
    display: none;
  }

  .hamburger,
  .globalMenuSp {
    visibility: visible;
  }

  .h-logo {
    padding-right: 0;
    text-align: center;
  }

  .h-logo img {
    width: 55%;
  }


  /* ハンバーガーメニュー */

  /*　ハンバーガーボタン */
  .hamburger {
    display: block;
    position: fixed;
    z-index: 3;
    /* right : 32px; */
    top: 32px;
    left: 20px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;

  }

  .hamburger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 6px;
    background: #555;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
  }

  .hamburger span:nth-child(1) {
    top: 10px;
  }

  .hamburger span:nth-child(2) {
    top: 20px;
  }

  .hamburger span:nth-child(3) {
    top: 30px;
  }

  /* ナビ開いてる時のボタン */

  .hamburger.active span:nth-child(1) {
    top: 16px;
    left: 6px;
    width: 24px;
    background: #555;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .hamburger.active span:nth-child(2) {
    left: 60%;
    opacity: 0;
    -webkit-animation: active-btn17-bar02 .8s forwards;
    animation: active-hamburger-bar02 .8s forwards;
  }

  @-webkit-keyframes active-hamburger-bar02 {
    100% {
      height: 0;
    }
  }

  @keyframes active-hamburger-bar02 {
    100% {
      height: 0;
    }
  }

  .hamburger.active span:nth-child(3) {
    top: 16px;
    width: 24px;
    background: #555;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }


  .hamburger::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    content: '';
    width: 52px;
    height: 52px;
    margin: -30px 0 0 -30px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: all .75s;
  }

  .hamburger.active::after {
    border: 2px solid #555;
  }

  nav.globalMenuSp {
    position: fixed;
    z-index: 2;
    top: 80px;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
    visibility: hidden;
  }

  nav.globalMenuSp ul {
    /* margin-top: 50px;
  margin-bottom: 40px; */
    padding: 0;
    width: 100%;
  }

  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    margin-left: 10px;
    padding-bottom: 20px;
    width: 100%;
    transition: .4s all;
  }

  nav.globalMenuSp ul li:last-child {
    padding-bottom: 20px;
  }

  nav.globalMenuSp ul li:hover {
    /* background :#ddd; */
    border-right: solid 1px #fff;
    width: 70%;
  }

  nav.globalMenuSp ul li a {
    display: block;
    color: #fff;
    padding: 1em 0;
    text-decoration: none;
    letter-spacing: 6px;
    font-family: "Hina Mincho", serif;
  }


  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    opacity: 100;
    visibility: visible;
  }


}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */


.o-maincontents {
  max-width: 100%;
  height: auto;
  background-image: url(../images/68047_s.png);
  background-size: cover;
  padding-bottom: 50px;
  /* background-image: url(images/order-form_01.png); */
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
  padding-left: 25px;
}

.m-compornents {
  max-width: 100%;
  height: auto;
  padding-top: 30px;
  padding-right: 30px;
}

.m-compornents img {
  width: 5vw;
  height: auto;
  /* padding-top: 5%; */
}

.o-article {
  /* margin-top: 3%; */
  max-width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0.9;
  background-size: contain;
  background-image: url(../images/order-form_07.png);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: top;
  background-position-y: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px;
}

.o-article h2,
h3 {
  margin: 0 auto;
}

.o-article p {
  text-align: justify;
  text-justify: inter-ideograph;
  max-width: 100%;
  width: 600px;
  height: 100%;
  /* margin: 0 auto; */
  font-size: 2vmin;
  letter-spacing: 0.8vmin;
  font-family: "Hina Mincho", serif;
  line-height: 5vmin;
  margin: 0 auto;

}

.o-article h2 {

  /* vertical-align: middle; */
  height: 200px;
  font-size: 2.5vmin;
  font-weight: 500;
  letter-spacing: 0.8vmin;
  padding-top: 10%;
  /* margin-bottom: 30px; */
  font-family: "Hina Mincho", serif;
  white-space: nowrap
}

@media(max-width:1200px) {
  .o-article h2 {
    padding-top: 15%;
  }
}

@media(max-width:800px) {
  .o-article h2 {
    height: 70px;
    padding-top: 3%;
    font-size: 2.3vmin;
  }
}


.o-article h3 {
  font-size: 2.3vmin;
  letter-spacing: 0.8vmin;
  font-family: "Hina Mincho", serif;
  font-weight: 500;
  padding: 20px;
}

.komebag {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 50px;
  /* margin-left: 5%; */
}

.bag img {
  width: 60%;
  padding: 15px;
}

.tag img {
  width: 55%;
  height: 70%;
  padding: 5px;
}

.f-title {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 10px;

}

.f-title img {
  width: 7vw;
}


/* ------------------------form css-------------------------------------------- */

.f-wrapper {
  width: 1050px;
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
  /* background-image: url(images/order-form_01.png); */
  background-color: #fff;
}

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

div.w-name {
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.first-name,
.family-name {
  width: 48%;
}

.col-25 {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
}

.h-adr,
.col-50 {
  -ms-flex: 50%;
  /* IE10 */
  flex: 0%;
}

.prefecture {
  display: flex;
  justify-content: space-between;
}

.prefecture .post,
.region {
  width: 48%;
}

.col-75 {
  width: 100%;
}

.w-name,
.col-25,
.h-adr,
.col-75 {
  padding: 0 16px;
}

.col-50 {
  width: 100%;
}

.container {
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 50px 25px 15px 25px;
  /* border: 1px solid lightgrey;
    border-radius: 3px;
    opacity: 1; */
  border-radius: 13px;
  background: #ffffff;
  box-shadow: 8px 8px 16px #ebebeb,
    -8px -8px 16px #ffffff;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
  font-size: 1.8vmin;
  letter-spacing: 0.5vmin;
  font-family: "Hina Mincho", serif;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.of-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.of-btn {
  /* background-color: #ba745c; */
  color: rgb(243, 240, 240);
  margin-top: 30px;
  padding: 18px;
  width: 35%;
  cursor: pointer;
  font-size: 17px;
  letter-spacing: 12px;
  border-radius: 50px;
  background: #CF755A;
  ;
  box-shadow: 2px 2px 4px #ebebeb,
    -2px -2px 4px #ffffff;
}

.of-btn:hover {
  background-color: #752006;
  opacity: 0.8;
}

span.price {
  float: right;
  color: grey;
}

/* ------radiobutton------- */

/* animations */
@keyframes radio-select {
  0% {
    transform: scale(0, 0);
  }

  65% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

.rbtn {
  /* position: absolute; */
  display: flex;
  justify-content: start;
  /* margin-left: 5%;
      width: 100%; */
  margin-bottom: 20px;
  padding-left: 20%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

p.kome {
  font-size: 17px;
  padding-bottom: 8px;
}

label.radiob,
label.radioa {
  /* margin-top: 10px; */
  text-align: center;
  height: 20px;
  font-size: 13px;
  margin: 0 2em;
  /* margin-bottom: 2em; */
  display: flex;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}


label.radiob:first-child {
  margin-left: 0;
}

label.radiob span:last-child {
  margin: auto;
}

input[type="radio"] {
  height: 1px;
  width: 1px;
  opacity: 0;
}

.outside {
  display: inline-block;
  position: absolute;
  left: 0;
  /* top: 50%; */
  /* margin-top: -12px; */
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  box-sizing: border-box;
  /* background: #f3f3f3; */
}

.inside {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #CF755A;
  left: 3px;
  top: 3px;
  transform: scale(0, 0);
}


.no-transforms .inside {
  left: auto;
  top: auto;
  width: 0;
  height: 0;
}

/* input[type="radio"] {
    padding: 14px;
  } */

input[type="radio"]:checked+.outside .inside {
  animation: radio-select 0.1s linear;
  transform: scale(1, 1);
}

.no-transforms input[type="radio"]:checked+.outside .inside {
  width: 20px;
  height: 20px;
}


/* -----mobile------------ */
@media (max-width:920px) {
  input[type="text"] {
    width: 100%;
    margin-bottom: 20px;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 10px;
  }

  option p {
    font-size: 10px;
  }

}


/* ------------select button------------------- */
select {
  width: 100%;
  /* Full width */
  padding: 15px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
  /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }

  .col-25 {
    margin-bottom: 20px;
  }
}


/* フッター */
.footer-wrapper {
  max-width: 100%;
  height: auto;
  /* height: 270px; */
  max-height: 80%;
  margin-top: 15%;
  position: relative;
  display: flex;
}

.footer-l {
  border-top: solid 1px;
  color: #6f6f6f;
  max-width: 100%;
  width: 20%;
}

.footer-l a {
  text-decoration: none;
  color: black;
  font-family: "Hina Mincho", serif;
  writing-mode: vertical-lr;
  font-size: 1.5vmin;
  letter-spacing: 1vmin;
  padding: 10%;
  padding-left: 80%;
  padding-top: 20%;
  white-space: nowrap;
}


.footer-c {
  max-width: 100%;
  width: 60%;
  height: 100%;
  background-image: url(../images/top_fbkpng.png);
  background-size: cover;
  position: absolute;
  left: 20%;
  top: 0%;
  display: flex;
  justify-content: center;
}

.tbtn {
  position: absolute;
  left: 48%;
  top: -5%;
  width: 8%;
}

.f-logo {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* position: absolute;
      top:20%;
      left:10%; */
  /* margin-left: 7%; */
  /* margin-top: 2%; */
  /* margin-right: 5%; */
  width: 100%;
  max-width: 100%;
  height: auto;
}

.f-logo h2 {
  color: #afafaf;
  letter-spacing: 2.4vmin;
  font-size: 3.5vmin;
}

.f-logo img {
  width: 15%;
  /* padding-left: 4%; */
  /* padding-right: 4%; */
}

small {
  position: absolute;
  top: 86%;
  font-family: "Hina Mincho", serif;
  color: #3f3f3f;
}

.sns {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1%;
  top: 4%;
  gap: 0px;
}

.sns img {
  width: 1.5vw;
  height: auto;
}

.footer-r {
  border-top: solid 1px;
  color: #6f6f6f;
  max-width: 100%;
  width: 20%;
  position: absolute;
  right: 0%;
}

.footer-r a {
  text-decoration: none;
  font-family: "Hina Mincho", serif;
  color: black;
  writing-mode: vertical-lr;
  font-size: 1.5vmin;
  letter-spacing: 0.5vmin;
  padding: 10%;
  padding-right: 80%;
  padding-top: 15%;
  white-space: nowrap;
}

/* mobile----------------- */

/* footer */
@media (max-width: 1200px) {
  .f-logo h2 {
    font-size: 2vmin;
  }

  .footer-r a {
    font-size: 1.5vmin;
  }

  .footer-l a {
    font-size: 1.5vmin;
  }
}

@media (max-width: 750px) {
  .f-logo h2 {
    font-size: 2.5vmin;
    letter-spacing: 1.5vmin;
  }

  .footer-r a {
    font-size: 1.5vmin;
  }

  .footer-l a {
    font-size: 1.5vmin;
  }

  small {
    font-size: 6px;
  }
}

/* Loader */

.loader{
  background: url("../images/about-us_07.png");
  background-size: cover;
  height: 120px;
  width: 100px;
}
.loader {            
    position: relative;
    top: 25%;
    left: 45%;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 2s infinite linear;
    animation: load8 2s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#loadingDiv {
    position:absolute;;
    top:0;
    left:0;
    width:100%;
    height:200vh;
    z-index: 999;
    background-color: #fff;;
}